rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isApproved(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data.approvalStatus == 'approved';
    }

    match /messages/{messageId} {
      allow read: if true;
      allow write: if true;
    }

    match /anonymous_messages/{messageId} {
        allow read: if true;
        allow write: if request.resource.data.anonymousId != null && request.resource.data.message != null;
    }

    match /vip_messages/{messageId} {
        allow read: if request.auth != null && isApproved(request.auth.uid);
        allow write: if request.auth != null && request.resource.data.uid == request.auth.uid && isApproved(request.auth.uid);
    }
    
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId;
      // Admin should update the approvalStatus via backend/console
      allow update: if false; 
    }
  }
}
