rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read and write access to messages
    match /messages/{messageId} {
      allow read: if true;
      allow write: if true;
    }

    // Allow public read and write access to anonymous messages
    match /anonymous_messages/{messageId} {
        allow read: if true;
        allow write: if request.resource.data.anonymousId != null && request.resource.data.message != null;
    }
  }
}
