rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read and write access to messages
    match /messages/{messageId} {
      allow read: if true;
      allow write: if true;
    }

    // Allow public read and write access to anonymous messages
    match /anonymous_messages/{messageId} {
        allow read: if true;
        allow write: if request.resource.data.anonymousId != null && request.resource.data.message != null;
    }

    // Allow only authenticated users to read and write to vip_messages
    match /vip_messages/{messageId} {
        allow read: if request.auth != null;
        allow write: if request.auth != null && request.resource.data.uid == request.auth.uid;
    }
  }
}
