@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 25 50% 98%;
    --foreground: 24 9.8% 10%;
    --card: 25 50% 96%;
    --card-foreground: 24 9.8% 10%;
    --popover: 25 50% 96%;
    --popover-foreground: 24 9.8% 10%;
    --primary: 30 60% 40%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 25 50% 94%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 25 50% 94%;
    --muted-foreground: 24 5.9% 45.1%;
    --accent: 30 60% 35%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 25 50% 90%;
    --input: 25 50% 94%;
    --ring: 30 60% 40%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 25 50% 96%;
    --sidebar-foreground: 24 5.9% 45.1%;
    --sidebar-primary: 30 60% 40%;
    --sidebar-primary-foreground: 60 9.1% 97.8%;
    --sidebar-accent: 25 50% 92%;
    --sidebar-accent-foreground: 30 60% 40%;
    --sidebar-border: 25 50% 90%;
    --sidebar-ring: 30 60% 40%;
  }
  .dark {
    --background: 30 10% 10%;
    --foreground: 60 9.1% 97.8%;
    --card: 30 10% 12%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 30 10% 12%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 30 60% 50%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 30 10% 17%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 30 10% 17%;
    --muted-foreground: 24 5.9% 65.1%;
    --accent: 30 60% 45%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 30 10% 17%;
    --input: 30 10% 17%;
    --ring: 30 60% 50%;
    --sidebar-background: 30 10% 8%;
    --sidebar-foreground: 24 5.9% 65.1%;
    --sidebar-primary: 30 60% 50%;
    --sidebar-primary-foreground: 60 9.1% 97.8%;
    --sidebar-accent: 30 10% 17%;
    --sidebar-accent-foreground: 60 9.1% 97.8%;
    --sidebar-border: 30 10% 17%;
    --sidebar-ring: 30 60% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
